{% extends "activities/base.html" %}

{% block title %}Activités à venir{% endblock %}

{% block content %}
<h1 class="mt-4 mb-4">Accueil</h1>

<div class="row align-items-center mb-4">
    <div class="col">
        <a href="?filtre=toutes{% if category_selected %}&category={{ category_selected.id }}{% endif %}"
            class="btn btn-light text-dark border border-light {% if filtre == 'toutes' %}border-dark border-2{% endif %}">Toutes
            les activités</a>
        {% if user.is_authenticated %}
        <a href="?filtre=mes_proposees{% if category_selected %}&category={{ category_selected.id }}{% endif %}"
            class="btn btn-light text-dark border border-light {% if filtre == 'mes_proposees' %}border-dark border-2{% endif %}">Mes
            activités
            proposées</a>
        <a href="?filtre=mes_inscriptions{% if category_selected %}&category={{ category_selected.id }}{% endif %}"
            class="btn btn-light text-dark border border-light {% if filtre == 'mes_inscriptions' %}border-dark border-2{% endif %}">Mes
            inscriptions</a>
        {% endif %}
    </div>
    <div class="col d-flex justify-content-end">
        <form method="get" class="d-flex">
            <input type="hidden" name="filtre" value="{{ filtre }}">
            <select class="form-select form-select-sm bg-light text-dark border border-light" name="category"
                onchange="this.form.submit()">
                <option value="">Toutes les catégories</option>
                {% for category in categories %}
                <option value="{{ category.id }}" {% if category_selected and category.id==category_selected.id %}
                    selected {% endif %}>
                    {{ category.name }}
                </option> {% endfor %}
            </select>
        </form>
    </div>
</div>
<div class="row">

    {% for activite in activites %}
    <div class="col-md-4 mb-4">
        <div class="card h-100 shadow-sm bg-light text-dark border border-light">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title"><strong>{{ activite.title }}</strong></h5>
                <p class="card-text"><strong>Lieu:</strong> {{ activite.location_city }}</p>
                <p class="card-text"><strong>Catégorie:</strong> {{ activite.category.name }}</p>
                <p class="card-text"><strong>Date:</strong> {{ activite.start_time }}</p>
                <p class="card-text"><strong>Organisateur:</strong> {{ activite.proposer.username }}</p>
                <a href="{% url 'details_activity' activite.id %}" class="btn btn-primary mt-auto">Voir les détails</a>
            </div>
        </div>
    </div>
    {% empty %}
    <p>Aucune activité disponible pour le moment.</p>
    {% endfor %}
</div>
{% if activites.has_other_pages %}
<nav aria-label="Pagination">
    <ul class="pagination justify-content-center">
        <li class="page-item {% if not activites.has_previous %}disabled{% endif %}">
            {% if activites.has_previous %}
            <a class="page-link" href="?page={{ activites.previous_page_number }}" aria-label="Précédent">
                <span aria-hidden="true">«</span>
            </a>
            {% else %}
            <span class="page-link" aria-label="Précédent">
                <span aria-hidden="true">«</span>
            </span>
            {% endif %}
        </li>
        {% for num in activites.paginator.page_range %}
        <li class="page-item {% if activites.number == num %}active{% endif %}">
            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
        </li>
        {% endfor %}
        <li class="page-item {% if not activites.has_next %}disabled{% endif %}">
            {% if activites.has_next %}
            <a class="page-link" href="?page={{ activites.next_page_number }}" aria-label="Suivant">
                <span aria-hidden="true">»</span>
            </a>
            {% else %}
            <span class="page-link" aria-label="Suivant">
                <span aria-hidden="true">»</span>
            </span>
            {% endif %}
        </li>
    </ul>
</nav>
{% endif %}
{% endblock %}