{% extends "activities/base.html" %}

{% block title %}Proposer une nouvelle activité{% endblock %}

{% block content %}
<h1 class="mt-4 mb-4">Proposer une nouvelle activité</h1>

<form method="post" class="mx-auto row w-50" novalidate>
    {% csrf_token %}
        {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
    <div class="invalid-feedback d-block">{{ error }}</div>
    {% endfor %}
    {% endif %}
    {% for field in form %}
    <div class="mb-3">
        {{ field.label_tag }}
        {{ field }}
        {% for error in field.errors %}
        <div class="invalid-feedback d-block">{{ error }}</div>
        {% endfor %}
    </div>
    {% endfor %}
<div>
    <button type="submit" class="p-0 mb-4 mt-4"><a class="btn btn-light text-dark border border-light">Céer activité</a></button>
</div>
</form>

{% endblock %}